html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-family: 'Noto Sans', sans-serif;

}

a ,a:hover{
    text-decoration: none;
    color: unset;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width:75%;
    margin : auto
}

.main-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
}

#login-form {
    flex: 1 0 100%;
    max-width: 480px;
    width: 100%;
    padding: 60px;
}

#login-form p {
    margin-bottom: 30px;
}

#login-form p.form-title {
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

#login-form .ant-form-item-label>label.ant-form-item-required::before {
    display: none;
}

.ant-form-item-control-input-content {
    text-align: left;
}

#login-form .ant-input-affix-wrapper {
    padding: 12px 15px;
}

#login-form_username {
    height: 48px;
}


.login-form-button {
    width: 100%;
}

.illustration-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 800px;
    min-height: 100%;
    background-color: #fffdf2;
}

.illustration-wrapper img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .login-box {
        flex-direction: column;
        box-shadow: none;
        width:80%
    }

    .illustration-wrapper {
        display: none;
    }

    #login-form {
        max-width: 100%;
    }

}

/* dashboard widgets css */

.weight-500{font-weight: 500;}
.font-30{font-size: 30px; line-height: 1.46em;}
.font-20{font-size: 20px; line-height: 1.5em;}

.text-dark{color: #000000;}